certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
cryptography==2.8
future==0.18.2
idna==2.8
loguru==0.4.0
mccabe==0.6.1
packaging==19.2
parse==1.14.0
parse-type==0.5.2
portalocker==1.5.2
pycodestyle==2.5.0
pycparser==2.19
pyparsing==2.4.6
pyTelegramBotAPI==3.6.6
python-rex==0.4
python-telegram-bot==12.2.0
requests==2.7.0
six==1.13.0
telebot==0.0.3
telegram==0.0.1
tornado==6.0.3
updater==0.1.24
urllib3==1.25.6
